.header, .rowHeader {
  height: 5vh;
}

.header {
  background-color: #dcdcdc;
}

.rowHeader {
  align-items: center;
}

.SuperCellImg {
  height: 30px;
}

.ClashRoyaleImg {
  height: 45px;
}

.btnLogout {
  text-align: right;
}

.cuerpo {
  width: 100vw;
  height: 95vh;
  padding: 4vh;
  background-color: #F6F6F6;
}

@media only screen and (max-width: 600px) {
  .header, .rowHeader {
    height: 50px;
  }

  .ClashRoyaleImg {
    height: 75px;
  }

  .SuperCellImg {
    margin-top: -25px;
  }
  
  .btnLogout {
    text-align: center;
    margin-bottom: 20px;
  }
}