.body {
  background-image: url("./../../images/bkg_01.jpg"); /* no-repeat center center fixed */
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed; 
}

.parent {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tarjetaLogin {
  background-color: white;
  border-radius: 10px;
  width: 380px;
  height: 530px;
}

.logoCard {
  width: 5rem;
}

a {
  color: #0014C3 !important;
}

span {
  font-size: 17px;
}

.btnlogin {
  margin-top: 30px !important;
  background-color: #8A8045 !important;
  color: white !important;
}

.aLogIn:hover {
  text-decoration: none !important;
}